<div class="container">
  <div class="input-group input-group-sm mb-3">

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="w-10 btn btn-primary btn-lg">{{ button_label|default('Enviar') }}</button>
{{ form_end(form) }}

</div>
</div>